{{#each this}}
  <li class="client">
    <form class="debitForm">
      <h3>Debit</h3>
      <label class="label">
        Balance:
        <input class="input" type="text" name="balance" value="{{balance}}" />
      </label>
      <label class="label">
        Activity:
        <input class="input" type="text" name="activity" value="{{activity}}" />
      </label>
      <label class="label">
        Currency:
        <input class="input" type="text" name="currency" value="{{currency}}" />
      </label>
      <label class="label">
        Activity date:
        <input
          class="input"
          type="text"
          name="activityDate"
          value="{{activityDate}}"
        />
      </label>
      <label class="label">
        Card expiry date:
        <input
          class="input"
          type="text"
          name="cardExpiryDate"
          value="{{cardExpiryDate}}"
        />
      </label>
      <label class="label">
        Debit account id:
        <input
          class="input"
          type="text"
          name="accountId"
          value="{{accountId}}"
        />
      </label>
      <button
        class="btn"
        id="{{id}}"
        data-debitsave="{{accountId}}"
        type="submit"
      >Save</button>
      <button
        class="btn"
        id="{{id}}"
        data-debitremove="{{accountId}}"
        type="button"
      >Delete</button>
    </form>
  </li>
{{/each}}